#tiplayer{:style => "position:absolute; visibility:hidden; z-index:10000;"}
#content
  #wrapdiv
    .charts
      #total-chart.chart
      #graph1.aGraph
      %span#customer-count.count-big 4,468
    #customer-title.title Customers
    .charts
      #percent-chart.chart
      #graph2.aGraph
      %span#percent-count.count-big 14%
    #median-title.title Median Households / FH
  #wrapdiv
    #map
    #small-container
      #free-percent-count.count-small 30%
      #free-title.title-small Free
      #gig-percent-count.count-small 15%
      #gig-title.title-small Gig
      #tv-percent-count.count-small 55%
      #tv-title.title-small TV