#tiplayer{:style => "position:absolute; visibility:hidden; z-index:10000;"}
#header
  = image_tag "logo.png"
  %span#title Admin Dashboard
#content
  #bigwrap
    #wrapdiv
      #graph1.aGraph
      #customer-title.title Complaints
      #graph2.aGraph
      #median-title.title Resolution time
      #map
    #queue
      #complaint_header Categories
      #q1.complaint_category
        #route F - Taravel
      #q2.complaint_category
      #q3.complaint_category
      #q4.complaint_category