#tiplayer{:style => "position:absolute; visibility:hidden; z-index:10000;"}
#content
  #bigwrap
    #wrapdiv
      #graph1.aGraph
      #customer-title.title Complaints
      #graph2.aGraph
      #median-title.title Resolution time
      #map
    #queue
      #q1.complaint
        #route F - Taravel
        #
      #q2.complaint
      #q3.complaint