
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.03);
}
.background {
  fill: none;
  pointer-events: all;
}

/* The header */
#title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-left: 5px;
  vertical-align: 20%;
  color: white;
  border-left:  1px solid #ccc;
}
#logo {
  padding-right: 4px;
}

#header {
  margin: 0 auto;
  width: 100%;
  height:45px;
  background: -webkit-gradient(linear, left top, left bottom, from(#d90e3d), to(#000)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #d90e3d,  #000); /* for firefox 3.6+ */
  border-bottom: 1px solid #ccc;
}

// queue

#queue {
  margin-top: 30px;
  width: 300px;
  height: 1000px;
  border-top:2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  float: left;
}

#complaint_header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-left: 10px;
  position:relative;
  height:20px;
  border-bottom: 4px solid;
  border-bottom-opacity: .5;
}

.complaint_category {
  position:relative;
  height:90px;
  border-bottom: 3px solid;
  border-bottom-opacity: .3;
}

// wrappers

#wrapdiv {
  width: 800px;
  float: left;
  // margin: 0 auto;
}

#bigwrap {
  width:2000px;
}

/* Number styling */
.count-big {
  font-weight: 300;
  font-size: 66px;
  float: right;
}
#small-container {
  position: absolute;
  width: 90px;
  padding-top: 280px;
  padding-left: 110px;
}
.count-small {
  font-weight: 300;
  font-size: 44px;
  float: right;
}
.title {
  position:relative;
  width:325px;
  margin-left:80px;
  margin-top:-16px;
}
.title-small {
  float: right;
  font-size: 11px;
  padding-bottom: 20px;
}

/* Map styling */

#map {
  position: relative;
  opacity: .4;
  margin-left:-140px;
}