
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.03);
}
.background {
  fill: none;
  pointer-events: all;
}

/* The header */
#gocode {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-left: 5px;
  vertical-align: 20%;
  color: grey;
  border-left:  1px solid #ccc;
}
#logo {
  padding-right: 4px;
}

// queue

#queue {
  margin-top: 30px;
  width: 300px;
  border-top:2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  float: left;
}

.complaint {
  position:relative;
  height:200px;
  border-bottom: 3px solid;
}

// wrappers

#wrapdiv {
  width: 800px;
  float: left;
  // margin: 0 auto;
}

#bigwrap {
  width:2000px;
}

/* Number styling */
.count-big {
  font-weight: 300;
  font-size: 66px;
  float: right;
}
#small-container {
  position: absolute;
  width: 90px;
  padding-top: 280px;
  padding-left: 110px;
}
.count-small {
  font-weight: 300;
  font-size: 44px;
  float: right;
}
.title {
  position:relative;
  width:325px;
  margin-left:80px;
  margin-top:-16px;
}
.title-small {
  float: right;
  font-size: 11px;
  padding-bottom: 20px;
}

/* Map styling */

#map {
  position: relative;
  opacity: .4;
  margin-left:-140px;
}